* {
    margin: 0;
    padding: 0;
    font-family: 'poppin', sans-serif;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --body-color: #efefef;
    --nav-color: gainsboro;
    --bg-color: #fff;
    --primary-color-hue: 52;
    --sticky-top-right: 5.4rem;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background-color: var(--body-color);
    transition: background-color 0.3s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    z-index: 100;
    position: sticky;
    top: 0;
}

.logo {
    width: 120px;
    margin-right: 45px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-user-icon {
    margin-left: 25px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box {
    background-color: var(--color-primary);
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.right-sidebar {
    flex-basis: 27%;
    position: sticky;
    top: var(--sticky-top-right);
    align-self: flex-start;
    background-color: --bg-color;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content {
    flex-basis: 70%;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4 {
    font-size: 16px;
    font-weight: 600;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-event p {
    font-size: 12px;
}

.right-event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #1876f2;
    color: #fff;
    padding: 4px 0;
    font-size: 10px;
}

.sidebar-ads {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 0;
}

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border-radius: 5px solid #626262;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story1 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) , url(images/status-1.png);
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) , url(images/status-2.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) , url(images/status-3.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) , url(images/status-4.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) , url(images/status-5.png);
}

.story.story1 img {
    top: unset;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.write-post-container {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    border-radius: 50%;
    width: 45px;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.btt {
    display: block;
    cursor: pointer;
    margin-left: 850px;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background-color: transparent;
    color: #626262;
    border-radius: 4px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.post-container {
    width: 100%;
    background-color: --bg-color;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span {
    font-size: 12px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    font-size: 15px;
    margin: 15px 0;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon {
    display: flex;
    align-items: center;
}

.post-profile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a {
    color: #9a9a9a;
}

.load-more-btn {
    display: block;
    cursor: pointer;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background: var(--color-primary);
    color: #626262;
    border-radius: 4px;
}

.footer {
    color: #9a9a9a;
    text-align: center;
    padding: 10px 0 20px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) ;
    overflow: hidden;
    border-radius: 4px;
    top: 108%;
    right:  5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 450px;
}

.user-profile a {
    text-decoration: none;
    font-size: 12px;
    color: #1876f2;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background-color: #9a9a9a;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    padding: 2px 3px;
    display: flex;
    transition: padding-left 0.5s, background-color 0.5s;
}

 #dark-btn span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
} 

 

.customize-theme {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 0.9rem;
    display: none;
}

.customize-theme .card {
    background: hsl(252, 30%, 100%);
    padding: 3em;
    border-radius: 1rem;
    width: 50%;
    box-shadow: 0 0 1rem hsl(252, 75%, 60%);
}

#theme {
    cursor: pointer;
}

.customize-theme .font-size {
    margin-top: 5rem;
}

.customize-theme .font-size > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(252, 30%, 95%);
    padding: 0 15px;
    border-radius: 50%;
}

.customize-theme .choose-size {
    background: hsl(252, 100%, 90%);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: hsl(252, 100%, 90%);
    border-radius: 50%;
    cursor: pointer;
}


.customize-theme .color {
    margin-top: 2rem;
}

.customize-theme .choose-color {
    background: hsl(252, 30%, 95%);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%);
}



































































